<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <app-title [title]="'Listagem'"></app-title>

                <mat-table #table [dataSource]="dataSource">
                    <!-- Position Column -->
                    <ng-container matColumnDef="image">
                        <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <img [src]="element.image">
                        </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="abilities">
                      <mat-header-cell *matHeaderCellDef> Habilidades </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.abilities}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
                      <mat-cell *matCellDef="let element">  </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>