.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.checkbox-type {
    margin-bottom: 15px;
}

.box-buttons {
    display: flex;
    justify-content: flex-end;

    .btn-cancel {
        margin-right: 10px;
    }
}